<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
  <style>
    .input {
      width: 100px;
      height: 30px;
      font-size: 16px;
      border: 1px solid gray;
      border-radius: 5px;
    }
    .button {
      background: cornflowerblue;
      width: 100px;
      height: 30px;
      font-size: 16px;
      border: 1px solid gray;
      border-radius: 5px;
    }
  </style>
</head>
<body>
<!--/*@thymesVar id="ProductReadDto" type="uz.in.domain.dto.product.ProductReadDto"*/-->
<form th:action="@{/edit/product}" method="post" th:object="${ProductReadDto}">
  <input class="input" type="text" name="name" th:value="${editProduct.getName()}" required>
  <input class="input" type="text" name="maker" placeholder="maker" th:value="${editProduct.getMaker()}" required>
  <input class="input" type="number" name="price" placeholder="price" th:value="${editProduct.getPrice()}" required>
  <input class="input" type="text" name="description" placeholder="description" th:value="${editProduct.getDescription()}" required>
    <a href="/admin/products"><button class="button" type="submit">Edit</button></a>
</form>
</body>
</html>